$keycolor: #fff;


// .container {
//     text-align: center;    
// }

// .container::before{
//     content: "";
//     background: url("../assets/loginBack.jpg");
//     background-size: contain;
//     opacity: 0.5;
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     right: 0px;
//     bottom: 0px;
// }




.login-inner {
    width: 100%;
    position: absolute;
    top: 20%;
    transform: translate(0, -50%);
    color: $keycolor;
    
    
}


